{% extends "common_areas/base.html" %}

{% block title %}
{{ common_area.name }}
{% endblock %}

{% block body %}
<h1>
    {{common_area.name}}
</h1>
 Horario: {{ common_area.availability_starts }} - {{ common_area.availability_stop }}
<br>
 Zona Habitacional: <a href= {% url 'habitational_area' common_area.habitational_area.id %}>
    {{ common_area.habitational_area.name }}
 </a>
 <br>
    <label for="startDate">Elige una fecha </label>
    <input id="startDate" class="form-control" type="date" />
{% endblock %}