{% extends "common_areas/base.html" %}

{% block title %}
{{ common_area.name }}
{% endblock %}

{% block body %}
<h1>
    {{common_area.name}}
</h1>
 Horario: {{ common_area.availability_starts }} - {{ common_area.availability_stop }}
<br>
 Zona Habitacional: <a href= {% url 'habitational_area' common_area.habitational_area.id %}>
    {{ common_area.habitational_area.name }}
 </a>
 <br>
    <form action="{% url 'reserve_common_area' %}" method="post">
        {% csrf_token %}
        <fieldset>
        <label for="reservation_date">Elige una fecha </label>
        <input 
            id="reservation_date" 
            name="reservation_date"
            class="form-control" 
            type="date"  
            min={{ today }} 
            max={{ one_year_in_future }}
        />
        </input>
        </fieldset>
        <input type="submit", value="Reservar">
    </form>
{% endblock %}
{% block footer %}
<script>
    const calendar = document.getElementById("calendar");
    console.log(calendar.attributes);
</script>
{% endblock %}
