{% extends "common_areas/base.html" %}

{% block title %}
{% endblock %}

{% block body %}
<body>
    {% if habitational_area %}
        <h1>
            {{habitational_area.name }}
        </h1>    
        {% if common_areas %}
            {% for common_area in common_areas %}
                <li> 
                    <a href={% url 'common_area' common_area.id %}>
                        {{common_area.name}}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock  %}
