{% extends "common_areas/base.html" %}
{% block body %}
<form action="{% url 'reserve_common_area' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="reservation_date">Elige una fecha </label>
        <input 
            id="reservation_date" 
            name="reservation_date"
            class="form-control" 
            type="date"  
            min={{ today }} 
            max={{ one_year_in_future }}
        />
        </input>
    </div>
    <div class="form-group">
        <label for="confirmation_email">E-mail </label>
        <input 
            id="confirmation_email" 
            name="confirmation_email"
            class="form-control"
            placeholder="Enter email"
        >
        <small id="emailHelp" class="form-text text-muted">
            Recibiras un correo de confirmacion
        </small>
    </div>
    <button type="submit", class="btn btn-primary"> 
        Enviar
    </button>
</form>
{% endblock %}